
@import "~bootstrap/scss/bootstrap";
body {
    background-color: #FFFFFF !important;
}
#app-footer {
    position: fixed;bottom: 0;width: 100%;
}
.container-fluid.h-custom {
    padding-top: 2%;
}
.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    text-align: justify !important;
}
.cache_selection {
    display: none;
}