<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <header>
        {% if app.user %}
            {% block navbar %}
                <nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF;">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="{{ path('app_accueil') }}">Accueil</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">

                                <a class="nav-link" href="{{ path('app_profil', {'id': app.user.id}) }}">Mon Profil</a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="nav-link" aria-current="page" href="/admin">Administration</a>
                                {% endif %}

                                <a class="nav-link" aria-current="page" href="/logout">Se déconnexion</a>

                            </div>
                        </div>
                    </div>
                </nav>
            {% endblock %}
        {% endif %}
    </header>

    <body>
        {% block body %}
        {% endblock %}
    </body>

    <footer id="app-footer">
        <p class="footer_texte text-center">Informations légales - <strong>Sortir.com</strong> by <a href="">ENI Ecole Informatique</a> - <a href="">Le code source est sous licence</a> - <a href="">Le contenu du site web est sous licence</a> - <a href="">RGPD</a> - <a href="">Accessibilité</a></p>
    </footer>
</html>
