<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Erreur d'accès</title>
</head>
<body>
<h1>Erreur d'accès</h1>
<p>Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
</body>
</html>